<div class="page-header">
  <div class="header-left">
    <a [routerLink]="['/dashboard/courses', courseId]" class="btn-back">
      <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><path d="m15 18-6-6 6-6"/></svg>
      Trở về Khóa học
    </a>
  </div>
</div>

<div class="set-header" *ngIf="lessonSet">
  <h1>{{ lessonSet.title }}</h1>
  
  <!-- Tabs Navigation -->
  <div class="tabs-container">
    <button 
      class="tab-btn" 
      *ngFor="let lesson of lessons"
      [class.active]="activeLesson?.id === lesson.id"
      (click)="selectTab(lesson)">
      {{ lesson.type }}
    </button>
  </div>
</div>

<div class="learning-room-content" *ngIf="activeLesson">
  
  <app-main-lesson-view 
    *ngIf="activeLesson.type === 'MAIN'" 
    [transcripts]="transcripts">
  </app-main-lesson-view>

  <app-vocab-lesson-view 
    *ngIf="activeLesson.type === 'VOCAB'" 
    [transcripts]="transcripts">
  </app-vocab-lesson-view>

  <app-interactive-transcript 
    *ngIf="activeLesson.type === 'MINI_STORY' || activeLesson.type === 'POV'"
    [transcripts]="transcripts"
    [currentTime]="currentTime"
    (seekTime)="onSeekTime($event)">
  </app-interactive-transcript>

</div>
