PORT=3000
DATABASE_URL="postgresql://speakup_user:speakup_password@localhost:5432/speakup_db?schema=public"
JWT_SECRET="speakup-secret-key-123456-change-me-in-production"
GOOGLE_CLIENT_ID="334154088956-iv10ov32isau8o2c0mbt85qt3cf6dgkm.apps.googleusercontent.com"
